# Workflow konfiguration (Metadaten)
name: Hello World
description: Das ist nur ein Hello World Beispiel

# Events
on: push 

# Jobs
jobs:
    say-hello:
        name: Begrüße Teilnehmer
        runs-on: ubuntu-latest

        steps:
            - name: Aktuelles Verzeichnis ansehen
              run: pwd && ls -al
            
            - name: Daten laden
              uses: actions/checkout@v6
            
            - name: Aktuelles Verzeichnis ansehen
              run: pwd && ls -al

    say-goodbye:
        name: Abschied
        runs-on: ubuntu-latest

        steps:
          - name: Abschied ausgabe
            run: echo "Bye bye"