# Workflow konfiguration (Metadaten)
name: Hello World
description: Das ist nur ein Hello World Beispiel
env:
   GLOBAL_MESSAGE: "Hallo aus dem Workflow (Global)"

# Events
on: 
  push:
    branches: 
      - main
      - 'feature/**'
      - '!feature/old'
  workflow_dispatch: # mehr möglichkeiten

# Jobs
jobs:
    say-hello:
        name: Begrüße Teilnehmer
        runs-on: ubuntu-latest
        env:
          JOB_MESSAGE: "Hallo aus dem Say-Hello Job"    

        steps:
            - name: Ausgabe global und Job
              run: |
                echo "GLOBAL_MESSAGE: $GLOBAL_MESSAGE"
                echo "JOB_MESSAGE: $JOB_MESSAGE"

            - name: Aktuelles Verzeichnis ansehen
              env:
                STEP_MESSAGE: "Message aus dem Step"
              run: pwd && ls -al && echo $STEP_MESSAGE
            
            - name: Daten laden
              uses: actions/checkout@v6
            
            - name: Aktuelles Verzeichnis ansehen
              run: pwd && ls -al && echo $STEP_MESSAGE

            - name: Lade hello-world.js als Artifact hoch
              uses: actions/upload-artifact@v4
              with:
                name: hello-world.js datei
                path: |
                  hello-world.js
                  README.md

    say-goodbye:
        name: Abschied
        runs-on: ubuntu-latest
        needs: say-hello

        steps:
          - name: Ausgabe global und Job
            run: |
                echo "GLOBAL_MESSAGE: $GLOBAL_MESSAGE"
                echo "JOB_MESSAGE: $JOB_MESSAGE"

          - name: Aktuelles Verzeichnis ansehen
            run: pwd && ls -al
          
          - name: Lade hello-world.js von Artifact herunter
            uses: actions/download-artifact@v4
            with:
              name: hello-world.js datei

          - name: Aktuelles Verzeichnis ansehen
            run: pwd && ls -al

          - name: JavaScript ausführen
            run: node hello-world.js

          - name: Abschied ausgabe
            run: echo "Bye bye"

          - name: Abschied ausgabe
            run: echo "Bye bye"